.header__inner {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.header__inner a {
    text-transform: uppercase;
    font-family: var(--font-header);
    color: #3E227A;
}