#section__08 {
    background-color: #a09fd2;
    height: 1150px;

}

fieldset {
    border: 0;
}


#section__08 .contact {
    padding-top: 180px;
    width: 1470px;

    margin: 0 auto;
    position: relative;
}

#section__08 .contact h2 {
    font-family: var(--font-title);
    text-transform: uppercase;
    font-size: 6rem;
    color: #e2ddff;
}

#section__08 .contact .inner__image .back__purple {
    width: 755px;
}

#section__08 .contact .inner__image .commit {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 400px;
    left: 280px;
}

#section__08 .contact .inner__image .contact-me {
    margin-right: 20px;
}

#section__08 .contact .inner__image .contact-me {
    width: 500px;
}

#section__08 .contact .inner__image .contact__me #email {
    width: 700px;
    /* height: 80px; */
    margin-bottom: 20px;
    border: 0;
    padding: 20px;

    font-family: var(--font-title);
    font-size: 28px;
    color: #252c6a;
    background-color: #d3d7f5;
}

#section__08 .contact .inner__image .contact__me #message {
    width: 700px;
    /* padding: 90vh; */
    height: 480px;
    margin-bottom: 10px;
    padding: 20px;
    border: 0;
    background-color: #d3d7f5;
}

#section__08 .contact .inner__image .contact__me button {
    width: 700px;
    padding: 2vh;
    /* height: 80px; */
    text-align: center;
    background-color: #6e79c3;
    color: #fff;
    font-family: var(--font-title-medium);
    font-size: 24px;
    border: 0;
}

#section__08 .contact .yunie {
    font-family: var(--font-prt);
    font-size: 8rem;
    color: #e2ddff;

}

#section__08 .contact .yunie .love {
    position: absolute;
    top: 85px;
    /* font-size: 8rem; */
}

#section__08 .contact .yunie .star__01 {
    position: absolute;
    top: 225px;
    left: 770px;
}

#section__08 .contact .yunie .star__02 {
    position: absolute;
    top: 780px;
    right: 10px;
    color: #fff;
}

#section__08 .contact .yunie .star__03 {
    position: absolute;
    left: 140px;
}