/* cat */
#section__03 {
    background-color: rgba(145, 26, 26, 0.322);
    padding-bottom: 320px;
}

#section__03 .text__box {
    width: 60%;
    font-size: 4.3vw;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: var(--font-title);
    color: var(--font-title-color);
    padding-left: 40px;
}

#section__03 .text__box .top span {
    display: inline-block;
    transform: translateY(5vw);
    min-width: 1.5vw;
}

#section__03 .text__box .bottom {
    margin-top: -45px;
}

#section__03 .text__box .bottom i {
    font-style: normal;
}

#section__03 .text__box .bottom i span {
    display: inline-block;
    transform: translateY(5vw);
    min-width: 1.5vw;
}

#section__03 .text__box .bottom em {
    font-size: 0.9vw;
    font-family: var(--font-desc);
    color: var(--font-title-color);
}

#section__03 .text__box .bottom em span {
    transform: translateY(5vw);
    min-width: 1.5vw;
}

#section__03 .cat__side {
    position: relative;
}

#section__03 .cat__side .cat__img {
    width: 1000px;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
}

#section__03 .cat__side .cat__back {
    width: 70%;
    padding: 18vh;
    float: right;
    margin-top: 370px;
    background: url("../img/section02-05.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

#section__03 .about__cat {
    width: 1400px;
    background-color: #e0e4ff;
    padding: 720px 0 170px 170px;
    margin: 180px 0 0 30px;
}

#section__03 .about__cat .cat__desc {
    width: 60%;
    font-size: 0.9vw;
    font-family: var(--font-desc);
    color: var(--font-title-color);
}

/* section__04 */
#section__04 {
    background-color: rgba(52, 26, 145, 0.322);
    padding-bottom: 100px;

}

.script__title {
    padding-left: 40px;
    width: 60%;
    font-family: var(--font-title);
    font-size: 5.8vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #22407A;
}

.script__title i {
    font-style: normal;
}

.script__title i span {
    font-style: normal;
    display: inline-block;
    transform: translateY(5vw);
    min-width: 1.5vw;
}


#section__04 .script__title em {
    font-family: var(--font-desc);
    font-size: 0.9vw;
    transform: translateY(3vw);
}

#section__04 .script__back {
    width: 100%;
    /* height: 550px; */
    background-color: #426381;
    color: #22407A;
    padding: 60px 0 350px 200px;

    position: relative;

}

.script__back .script__desc {
    width: 46%;
    font-family: var(--font-desc);
    word-break: keep-all;
}

#section__04 .script__sea {
    width: 1200px;
    float: right;
    margin-top: -290px;

}

#section__04 .view__curser {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: 1;
    background-image: url("../img/section03-02.png");
    background-position: center center;
    background-size: cover;
    pointer-events: none;
}

#section__04 .view__curser::after {
    content: 'view';
    font-family: var(--font-title);
    font-size: 5vw;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
}

#section__04 .view__curser::before {
    content: '';
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    /* backdrop-filter: bl; */
    background-image: linear-gradient(rgba(255, 255, 255, 0.137), rgba(64, 15, 201, 0.438));

}

#section__04 .effect__ul {
    color: #394083;
    /* margin: 300px 0; */
    padding: 600px 0 400px 200px;
}


#section__04 .effect__ul .effect__list li {
    display: flex;
}

#section__04 .effect__ul .effect__list a {
    font-size: 5.2vw;
    padding-right: 30px;
    color: #394083;
    display: inline-block;
    line-height: 160px;
    font-family: var(--font-title);
}

#section__04 .effect__ul .effect__list span {
    margin-top: 18px;
    font-size: 0.9vw;
    display: inline-block;
    font-family: var(--font-desc);
}